body {
}
#loginbox{
    /*position:absolute;*/
    /*border:1px solid #000000;*/
    /*padding: 10px 10px;*/
    
    /*left:50%;
    top:50%;
    transform: translate(-50%, -50%);*/
    margin-left:31%;
    margin-top:6%;
    /*padding-right:25%;
    padding-bottom:25%;*/
    max-width:450px;
}
#container2{
    display: flex;
    justify-content: center;
    align-items: center;
}